<ion-menu [content]="content" type="reveal" id="admin">
  <ion-header>
    <ion-toolbar color="azul">
      <ion-title text-wrap style="padding: 0;">{{_np.negocio}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="fondoMenu">
    <ion-list>
      <button color="gray" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-menu [content]="content" type="reveal" id="users">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title text-wrap style="padding: 0;">Bienvenido</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="fondoMenu">
    <ion-list>
      <button color="gray" menuClose ion-item *ngFor="let p of paginas" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
